Flask==2.3.3
Flask-Cors==3.0.10
pandas==1.5.3
scikit-learn==1.0.2  # For loading and running the trained model
numpy==1.23.5        # Dependency of scikit-learn
pandas==1.5.3        # For handling tabular data
joblib==1.2.0        # For model serialization
cloudpickle==2.2.1   
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.0
scipy==1.14.0

gunicorn
